@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/MuseoSansCyrl-300Italic.eot');
	src: local('MuseoSansCyrl-300Italic'),
		url('../fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('../fonts/MuseoSansCyrl-500Italic.eot');
	src: local('MuseoSansCyrl-500Italic'),
		url('../fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500Italic.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/MuseoSansCyrl-700Italic.eot');
	src: local('MuseoSansCyrl-700Italic'),
		url('../fonts/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
		url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/MuseoSansCyrl-100Italic.eot');
	src: local('MuseoSansCyrl-100Italic'),
		url('../fonts/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100Italic.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/MuseoSansCyrl-900Italic.eot');
	src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
		url('../fonts/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900Italic.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Natasha';
	src: url('../fonts/Natasha.ttf') format('truetype');
	src: url("../fonts/Natasha.eot"); /* IE9 Compat Modes */
  	src: url("../fonts/Natasha.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    	url("../fonts/Natasha.woff") format("woff"); /* Modern Browsers */
    src: url("../fonts/Natasha.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Natasha.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

section, div, ul, p, a, img{
	box-sizing: border-box;
}

b{
	font-family: 'Museo Sans Cyrl 900';
}

.clearfix:after{
	content:'';
	display: table;
	width: 100%; 
}

#first{
	height: 846px;
	background: url(../img/first-bg.png) no-repeat center top / cover;
	letter-spacing: 0.12em;
}

header{
	padding-top: 41px;
}

.container{
	width: 940px;
	margin: 0px auto;
}

.my-portfolio{
	color: #fff;
	display: block;
	float: left;
}

.navigation{
	float: left;
	padding: 0px;
    margin-left: 156.5px;
}

.navigation li{
	display: block;
	float: left;
	color: #fff;
	font-family: 'Museo Sans Cyrl 900'; 
	margin-left: 48px;
}

.navigation li:nth-child(1){
	margin-left: 0px;
}

.header-mail{
	float: right;
	display: block;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #676865;
	line-height: 28px;
	margin-top: 10px;
	font-size: 13px;
}

h1{
	font-family: 'Natasha', sans-serif;
	font-size: 49px;
	color: #fff;
	text-align: center;
    margin-top: 244px;
    margin-bottom: 30px;
}

.h1__desc{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 29px;
}

.first__arrow{
	margin: 265px auto 0px;
	display: block;
}

.about-me{
	padding-top: 86px;
}

h2{
	font-family: 'Natasha', sans-serif;
	font-size: 37px;
	text-align: left;
	margin: 0px;
}

.about-me__content{
	margin-top: 55px;
	margin-bottom: 100px;
}

.background{
	width: 430px;
	float: left;
}

h3{
	font-family: 'Natasha', sans-serif;
	font-size: 22px;
	color: #22241b;
	letter-spacing: 0.12em;
	opacity: 0.5;
}

.background-text{
	font-family: 'Museo Sans Cyrl 300';
	color: #22241b;
	line-height: 27px;
	letter-spacing: 0.02em;
	margin-top: 50px;
}

.deserts-and-connection {
	float: left;
	width: 460px;
    margin-left: 50px;
}

.deserts__items{
	margin-top: 55px;
}

.deserts__item{
	float: left;
	margin-left: 56px;
}

.deserts__item:nth-child(1){
	margin-left: 19px;
}

.deserts__item_number{
	height: 103px;
	background: url(../img/deserts-icon.png);
	font-size: 20px;
	letter-spacing: 0.12em;
	width: 103px;
	text-align: center;
	line-height: 103px;
	color: #204d15;
}

.deserts__item_desc{
	display: block;
	width: 103px;
	text-align: center;
	font-size: 12px;
	font-family: 'Museo Sans Cyrl 300';
	color: black;
	letter-spacing: 0.02em;
	margin-top: 25px;
}

.connection{
	margin-top: 60px;
}

.connection__item{
	float: left; 
	width: 200px;
}

.connection__item a{
	font-family: 'Museo Sans Cyrl 300';
	font-size: 14px;
	letter-spacing: 0.12em;
	color: #204d15;
	text-decoration: none;
	border-bottom: 1px solid #becbbb;
	line-height: 35px;
}

.connection__item_icon{
	font-family: 'Museo Sans Cyrl 300';
	font-size: 14px;
	line-height: 64px;
	letter-spacing: 0.02em;
	height: 64px;
	background: url(../img/connection-icon.png) no-repeat left center;
	padding-left: 74px;
    width: 250px;
    margin-top: 25px;
    font-style: italic;
}

.skills__items{
	margin-top: 63px;
}

.skills__item{
	float: left;
	width: 200.33px;
	font-family: 'Museo Sans Cyrl 900';
	font-size: 15px;
	letter-spacing: 0.12em;
	margin-left: 40px;
	height: 61px;
	line-height: 61px;
	padding-left: 88px;
}

.skills__item:nth-child(1){
	background: url(../img/skills-icon-1.png) no-repeat left center;
	margin-left: 0px;
}

.skills__item:nth-child(2){
	background: url(../img/skills-icon-2.png) no-repeat left center;
}

.skills__item:nth-child(3){
	background: url(../img/skills-icon-3.png) no-repeat left center;
}

.skills__item:nth-child(4){
	background: url(../img/skills-icon-4.png) no-repeat left center;
}

.works{
	padding-top: 83px;
}

.works__items{
	margin-top: 60px;
}

.works__item{
	float: left;
	height: 299px;
	width: 300px;
	position: relative;
	margin-left: 20px;
}

.works__item:nth-child(1){
	margin-left: 0px;
}

.works__item img{
	width: 100%;
}

.overlay{
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-family: 'Museo Sans Cyrl 900';
	letter-spacing: 0.02em;
	position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    text-align: center;
    padding-top: 120px;
    transition: all ease 0.5s;
    opacity: 0;
}

.works__item:hover .overlay{
	opacity: 1;
}

.overlay span{
	display: block;
	width: 61px;
	margin: 0px auto;
	font-family: 'Museo Sans Cyrl 300';
	color: #fff;
	letter-spacing: 0.02em;
	font-size: 13px;
	border-bottom: 1px solid #848587;
	margin-top: 13px;

}

footer{
	padding-top: 120px;
	padding-bottom: 112px;
}

.footer{
	font-family: 'Museo Sans Cyrl 300';
	font-size: 11px;
	letter-spacing: 0.14em;

}